In [45]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data_orig = pd.read_excel("../Paris housing Data Set 2 4050.xlsx")
data = data_orig.copy(deep=True)
data.head()

In [ ]:
data.dtypes

In [10]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
price,19995.0,535394.404051,365921.655721,75000.0,317000.0,449900.0,640000.0,7700000.0
bedrooms,19984.0,3.366593,0.930136,1.0,3.0,3.0,4.0,33.0
bathrooms,19988.0,2.072969,0.761162,0.5,1.5,2.0,2.5,8.0
sqft_living,19998.0,2057.936294,905.640821,290.0,1420.0,1900.0,2510.0,13540.0
sqft_total,19994.0,15606.956237,41775.761929,520.0,5350.0,7817.5,11000.0,1651359.0
floors,19999.0,1.444872,0.516672,1.0,1.0,1.0,2.0,3.5
condition,19998.0,3.441794,0.665473,1.0,3.0,3.0,4.0,5.0
grade,19999.0,7.605730,1.172624,1.0,7.0,7.0,8.0,13.0
built,19998.0,1967.953145,28.317403,1900.0,1950.0,1969.0,1991.0,2015.0
renovated,19999.0,90.812041,415.947901,0.0,0.0,0.0,0.0,2015.0
living_area_sqft,19993.0,1974.197819,675.199588,399.0,1490.0,1830.0,2336.0,6210.0

#### FILLINF NA
fill with previous or next values
df = df.fillna(method = "ffill", inplace=True)

In [5]:
# check if there are rows where all columns are NaN
num_rows = data.isna().all(axis=1).sum()
print(num_rows)

0

In [ ]:
nan_percentage = (data.isna().sum() / len(data)) * 100
nan_percentage

In [ ]:
data.isna().sum()

In [11]:
for number in data['bedrooms'].unique():
    print(number)

3.0
2.0
4.0
5.0
1.0
6.0
7.0
nan
8.0
9.0
11.0
10.0
33.0

In [9]:
data['bedrooms'].nunique()

12

In [12]:
data.value_counts('bedrooms')

bedrooms
3.0     9163
4.0     6307
2.0     2567
5.0     1436
6.0      260
1.0      189
7.0       38
8.0       13
9.0        6
10.0       3
11.0       1
33.0       1
Name: count, dtype: int64

In [18]:
three_bedrooms = data[data['bedrooms'] == 3]
three_bedrooms.describe().T

,count,mean,std,min,25%,50%,75%,max
price,9162.0,464760.292840,264705.603508,82000.00,290000.0,410000.0,560000.0,3800000.0
bedrooms,9163.0,3.000000,0.000000,3.00,3.0,3.0,3.0,3.0
bathrooms,9162.0,1.930774,0.623832,0.75,1.5,2.0,2.5,4.5
sqft_living,9163.0,1803.459566,625.073604,490.00,1360.0,1680.0,2110.0,6400.0
sqft_total,9159.0,14977.975871,36064.845822,572.00,5400.0,7879.0,10650.0,843309.0
floors,9163.0,1.394685,0.523605,1.00,1.0,1.0,2.0,3.5
condition,9162.0,3.444990,0.652703,1.00,3.0,3.0,4.0,5.0
grade,9163.0,7.437630,0.950827,4.00,7.0,7.0,8.0,13.0
built,9163.0,1969.143294,26.181071,1900.00,1954.0,1971.0,1989.0,2015.0
renovated,9163.0,81.045291,394.014210,0.00,0.0,0.0,0.0,2015.0
living_area_sqft,9159.0,1837.307457,542.575343,399.00,1450.0,1720.0,2130.0,4950.0

In [20]:
three_bedrooms.renovated.nunique()

62

In [21]:
bedrooms_list = [1,2,3,4,5,6]
bedrooms = data[data['bedrooms'].isin(bedrooms_list)]
bedrooms.describe().T

,count,mean,std,min,25%,50%,75%,max
price,19918.0,534163.602922,363569.018766,75000.0,317000.0,449000.0,639000.0,7700000.0
bedrooms,19922.0,3.352073,0.874786,1.0,3.0,3.0,4.0,6.0
bathrooms,19918.0,2.068129,0.753564,0.5,1.5,2.0,2.5,8.0
sqft_living,19921.0,2052.618744,895.985870,370.0,1410.0,1900.0,2500.0,12050.0
sqft_total,19917.0,15600.886077,41777.224746,520.0,5350.0,7813.0,11000.0,1651359.0
floors,19922.0,1.443630,0.515908,1.0,1.0,1.0,2.0,3.5
condition,19921.0,3.442197,0.665248,1.0,3.0,3.0,4.0,5.0
grade,19922.0,7.604407,1.169560,3.0,7.0,7.0,8.0,13.0
built,19921.0,1967.975252,28.300976,1900.0,1950.0,1969.0,1991.0,2015.0
renovated,19922.0,90.559984,415.393058,0.0,0.0,0.0,0.0,2015.0
living_area_sqft,19916.0,1973.311860,674.293329,399.0,1490.0,1830.0,2330.0,6210.0

In [25]:
print(len(bedrooms))
print(len(data))
print(len(data)-len(bedrooms))
len(bedrooms)/len(data)

19922
19999
77

0.9961498074903745

In [26]:
bedrooms.isna().sum()

price               4
bedrooms            0
bathrooms           4
sqft_living         1
sqft_total          5
floors              0
condition           1
grade               0
built               1
renovated           0
living_area_sqft    6
dtype: int64

In [28]:
# Compute correlation matrix
correlation_matrix = bedrooms.corr()

# Display correlation matrix
correlation_matrix

,price,bedrooms,bathrooms,sqft_living,sqft_total,floors,condition,grade,built,renovated,living_area_sqft
price,1.000000,0.307160,0.523971,0.700547,0.085416,0.276078,0.045805,0.665008,0.042728,0.136074,0.595091
bedrooms,0.307160,1.000000,0.524247,0.583111,0.033344,0.210541,0.032299,0.372529,0.178329,0.018420,0.397622
bathrooms,0.523971,0.524247,1.000000,0.759564,0.091900,0.506482,-0.096624,0.664289,0.495516,0.064475,0.579910
sqft_living,0.700547,0.583111,0.759564,1.000000,0.170037,0.390702,-0.047251,0.769023,0.327660,0.064542,0.756216
sqft_total,0.085416,0.033344,0.091900,0.170037,1.000000,0.015552,-0.016833,0.117527,0.076343,0.005722,0.150628
floors,0.276078,0.210541,0.506482,0.390702,0.015552,1.000000,-0.228995,0.464578,0.434540,0.027412,0.317310
condition,0.045805,0.032299,-0.096624,-0.047251,-0.016833,-0.228995,1.000000,-0.126527,-0.323954,-0.071455,-0.088067
grade,0.665008,0.372529,0.664289,0.769023,0.117527,0.464578,-0.126527,1.000000,0.438124,0.024060,0.729374
built,0.042728,0.178329,0.495516,0.327660,0.076343,0.434540,-0.323954,0.438124,1.000000,-0.219783,0.342839
renovated,0.136074,0.018420,0.064475,0.064542,0.005722,0.027412,-0.071455,0.024060,-0.219783,1.000000,0.001329
living_area_sqft,0.595091,0.397622,0.579910,0.756216,0.150628,0.317310,-0.088067,0.729374,0.342839,0.001329,1.000000

In [41]:
# Compute correlation matrix
correlation_matrix = data.corr(method='pearson')   # Pearson, Kendall, Spearman

# Display correlation matrix
correlation_matrix

,price,bedrooms,bathrooms,sqft_living,sqft_total,floors,condition,grade,built,renovated,living_area_sqft
price,1.000000,0.302715,0.524730,0.701247,0.085870,0.278690,0.047269,0.665259,0.040088,0.135701,0.595678
bedrooms,0.302715,1.000000,0.515724,0.568133,0.030603,0.204928,0.033419,0.354848,0.159865,0.021052,0.376581
bathrooms,0.524730,0.515724,1.000000,0.761640,0.092467,0.505132,-0.096782,0.661418,0.488162,0.066027,0.576770
sqft_living,0.701247,0.568133,0.761640,1.000000,0.171361,0.391976,-0.046014,0.766483,0.321674,0.064575,0.753186
sqft_total,0.085870,0.030603,0.092467,0.171361,1.000000,0.015878,-0.017107,0.117585,0.076945,0.005526,0.151518
floors,0.278690,0.204928,0.505132,0.391976,0.015878,1.000000,-0.227628,0.464452,0.431733,0.027793,0.318028
condition,0.047269,0.033419,-0.096782,-0.046014,-0.017107,-0.227628,1.000000,-0.123643,-0.323934,-0.071889,-0.086868
grade,0.665259,0.354848,0.661418,0.766483,0.117585,0.464452,-0.123643,1.000000,0.435028,0.024937,0.729372
built,0.040088,0.159865,0.488162,0.321674,0.076945,0.431733,-0.323934,0.435028,1.000000,-0.219860,0.341028
renovated,0.135701,0.021052,0.066027,0.064575,0.005526,0.027793,-0.071889,0.024937,-0.219860,1.000000,0.001815
living_area_sqft,0.595678,0.376581,0.576770,0.753186,0.151518,0.318028,-0.086868,0.729372,0.341028,0.001815,1.000000

In [ ]:
## FROM CHATGPT, March 05,2025, 6:01 PM
# Find the most correlated pairs (excluding self-correlation)
correlation_unstacked = correlation_matrix.unstack().sort_values(ascending=False)

# remove corellation between a column and itself
most_correlated_pairs = correlation_unstacked[correlation_unstacked.index.get_level_values(0) != correlation_unstacked.index.get_level_values(1)]

# Display top correlated pairs
#print("\nMost correlated column pairs:")
most_correlated_pairs

Most correlated column pairs:

sqft_living       grade          0.766483
grade             sqft_living    0.766483
sqft_living       bathrooms      0.761640
bathrooms         sqft_living    0.761640
living_area_sqft  sqft_living    0.753186
                                   ...
built             renovated     -0.219860
floors            condition     -0.227628
condition         floors        -0.227628
                  built         -0.323934
built             condition     -0.323934
Length: 110, dtype: float64

In [ ]:
most_correlated_pairs.price

In [ ]:
dataplot = sns.heatmap(data.corr(method="pearson"), cmap="YlGnBu", annot=True)

# Displaying heatmap
plt.show()